<div class="d-flex">
  <div class="sidebar">
    <app-menu></app-menu>
  </div>

  <!-- Inicio Info-conteiner -->
  <div class="info-container">

    <div class="card-block">

      <div *ngIf="!regimenMostrar && !regimenCrear && !regimenUpdate">
        <!-- filter -->
        <form class="form mt-3 mb-3">
          <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">
              Filtro
            </label>
            <div class="col-sm-3">
              <input type="text" [(ngModel)]="filterSearch" (input)="applyFilter()" class="form-control"
                name="filterDesc" id="filterDesc" placeholder="filtramos por...">
            </div>
            <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">
              Categoria
            </label>
            <div class="col-sm-3 mt-2">
              <select name="categoriaSearch" id="categoriaSearch" [(ngModel)]="categoriaSearch" (ngModelChange)="applyFilter()">
                  <option value="0">Seleccione una categoria</option>
                  <option *ngFor = "let categoria of categorias" [value]="categoria.id_categoria">{{categoria.c_nombre}}</option>
              </select>
            </div>
          </div>
        </form>

        <!--La tabla de produtos-->
        <div class="table-responsive" *ngIf ="productos && productos.length">
          <table class="table table-striped table-primary table-bordered">
            <thead>
              <tr>
                <th>{{headers.nombre}}</th>
                <th>{{headers.categoria}}</th>
                <th>{{headers.cantidad}}</th>
                <th>{{headers.precio}}</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor = "let producto of productosPaginated">
                <td (click) ="mostrarProducto(producto.product_id ?? 1)">{{producto.p_nombre}}</td>
                <td>{{producto.p_nombre_categoria}}</td>
                <td>{{producto.p_cantidad_almacen}}</td>
                <td>{{producto.p_precio_venta}}</td>
              </tr>

            </tbody>
          </table>
        </div>


            <!-- pagination -->
            <div class="pagination-controls mb-2">
              <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
              <span class="ms-3 me-3">Pagina {{ currentPage }} de {{ totalPages }}</span>
              <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
            </div>

        <div>
          <button *ngIf="role === 'admin' || role === 'manager'" class="btn btn-success btn-AW" (click)="crearNuevoProducto()">Crear nuevo Producto</button>
        </div>

      </div>
      <!--Fin la tabla de produtos-->




      <!--Comienzo regimen Crear de productos-->

      <div *ngIf="regimenCrear || regimenUpdate">
        <app-crear-producto (volverMostrar) = "volverMostrarProducto ($event)"
                            [regimenUpdate]="regimenUpdate"
                            [productoParaEditar]="productoMostrar">
        </app-crear-producto>
      </div>

      <!--Fin regimen Crear de productos -->



      <!--Comienzo regimen Mostrar de producto-->

      <div *ngIf="regimenMostrar">
        <app-show-product [productoMostrar]="productoMostrar"
                          (volverMostrar) = "volverMostrarProducto ($event)"
                          (encenderRegimenEditar) = "encenderRegimenEditar ($event)">
        </app-show-product>
      </div>

      <!--Fin regimen Mostrar de producto -->

    </div>

  </div>
    <!-- Fin info-container -->
</div>
