.img, .wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin-top: 10%;
  margin-bottom: 10%;
}

.sidebar {
  width:30%;
}
