<ng-container>
  <app-menu-mobile class="mobile-menu"></app-menu-mobile>
</ng-container>
 <div class="d-flex">
    <div class="sidebar">
      <app-menu></app-menu>
    </div>
    <div class = "info-container AW-center">
      <div class = "d-flex img m-auto pt-5">
        <!-- <img src="./assets/1a_logotype.jpg" style="width: 40%;"> -->
        <img class="AW-img" src="image/1a_logotype.jpg">
      </div>
      <h1 class="mt-5 m-auto">BIENVENIDO/A a ALMACÉN</h1>

      <h5 class="mt-4 AW-center">V. 1.3.0.1</h5>
      <h5 class="mt-1">ALEXAWEB 2024</h5>
    </div>
  </div>

