<div class="d-flex justify-content-between mt-3 mb-2" >
  <h2> Factura nueva</h2>
  <button (click) = "sendDatos()" class="btn btn-success btn-AW">Guardar datos</button>
</div>
<table class="table table-striped table-primary table-bordered">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Suma</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor = "let mercancia of mercancias">
      <td> {{mercancia.m_nombre_producto}} </td>
      <td>
        <div class="d-flex">
          <input style="width:70px;"
          type="number"
          [(ngModel)]="mercancia.m_cantidad_pedida"
          (blur)="updateQuantity(mercancia.m_id_productos, mercancia.m_cantidad_pedida)"/>
          <div *ngIf = "(role == 'cliente') && (mercancia.m_cantidad_maximum) && (mercancia.m_cantidad_pedida > mercancia.m_cantidad_maximum)" class="AW-aviso">
            <p>La cantidad no puede</p>
            <p>ser mayor que el resto.</p>
          </div>
        </div>
      </td>
      <td *ngIf = "role == 'cliente'">{{mercancia.m_precio_venta }}</td>
      <td *ngIf = "(role == 'vendedor') || (role == 'manager') || (role == 'admin')">{{mercancia.m_precio_compra}}</td>
      <td> {{mercancia.m_suma_pedida}} </td>
      <td>
        <button id="{{mercancia.m_id_productos}}" class="btn btn-primary btn-AW borrar">Borrar</button>
      </td>
    </tr>

  </tbody>
</table>
<div class="lineaTotal"></div>
<div class="sumaTotal">Total: {{getSumaFactura () | removeZeroAndForma }} euros</div>
