.lineaTotal {
  width:50%;
  height: 3px;
  background-color: black;
  margin: 30px 50% 0 0;

}

.sumaTotal {
  font-size: 25px;
  font-weight: 600;
}

.AW-aviso {
  font-size: 10px;
  color: red;
}

.AW-aviso p {
  margin: 0;
  padding-left: 5px;
}
