<div class="wrapper">
  <div class="d-flex mt-3 mb-5 justify-content-between">
    <h1 >{{usuarioMostrar.u_nombre}}</h1>
    <div  class="ms-5 mt-2" >
      <button (click) = "volverMostrarUsuario()" class="btn btn-info btn-AW">Volver</button>
    </div>
  </div>


    <div class="row d-flex">
      <div class="">
        <table class="table table-striped table-bordered">
            <thead class="table-primary">
              <tr>
                <th>Login</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Created at</th>
                <th class="mobileInvisibleTable">Editar</th>
                <th class="mobileInvisibleTable">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{usuarioMostrar.u_login}}</td>
                <td> {{usuarioMostrar.u_role}}</td>
                <td>
                  <span *ngIf="!usuarioMostrar.u_active" style="font-weight: 600; color: rgb(156, 0, 0);" >Inactivo</span>
                  <span *ngIf="usuarioMostrar.u_active" style="font-weight: 600; color: green;" >Activo</span>
                </td>
                <td> {{usuarioMostrar.created_at | date: 'dd-MM-yyyy'}}</td>
                <td class="mobileInvisibleTable">
                  <div class="icon blue" (click)="(usuarioMostrar.usuario_id) ? editarUsuario() : null">
                    <button class="btn btn-danger btn-AW">Editar</button>
                  </div>
                </td>
                <td class="mobileInvisibleTable">
                  <div class="icon red" (click)="popupInterruptor ()">
                    <button class="btn btn-warning btn-AW">Desactivar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex">
            <div class="icon blue ms-2 mobileVisible" (click)="(usuarioMostrar.usuario_id) ? editarUsuario() : null">
              <button class="btn btn-danger btn-AW">Editar</button>
            </div>
            <div class="icon red ms-2 mobileVisible" (click)="popupInterruptor ()">
              <button class="btn btn-warning btn-AW">Desactivar</button>
            </div>
          </div>
      </div>
    </div>
</div>

<!--Popup ventana-->
<div *ngIf = "isPopupDisactiveVisible" class="popup2">
  <p>¿Desea desactivar usuario: {{usuarioMostrar.u_nombre}}?</p>
  <div class="d-flex buttons justify-content-around">
    <button *ngIf ="usuarioMostrar.usuario_id" (click)="deleteUsuario(usuarioMostrar.usuario_id)" class="btn btn-AW btn-danger m-auto">Desactivar</button>
    <button  (click) = "popupInterruptor()" class="btn btn-AW btn-dark m-auto">Cerrar </button>
  </div>
</div>
