<div class="wrapper">

  <div class="d-flex mt-3 mb-5">
    <h1 class="pb-3"> {{productoMostrar.p_nombre}}</h1>
    <div class="ms-5 mt-2" >
      <button (click)="editarProducto()" class="btn btn-warning btn-AW">Editar</button>
    </div>
    <div  class="ms-2 mt-2" >
      <button (click)="(productoMostrar.product_id) ? deleteProducto(productoMostrar.product_id) : null" class="btn btn-danger btn-AW">Borrar</button>
    </div>
    <div  class="ms-5 mt-2" >
      <button (click) = "volverMostrarProducto()" class="btn btn-info btn-AW">Volver</button>
    </div>
  </div>



  <div class="description mb-2">{{productoMostrar.p_description}}</div>
    <div class="row d-flex">
      <div class="col-8">
        <table class="table table-striped table-bordered">
            <thead class="table-primary">
              <tr>
                <th>Precio de compra</th>
                <th>Precio de venta</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{productoMostrar.p_precio_compra}}</td>
                <td> {{productoMostrar.p_precio_venta}}</td>
              </tr>
            </tbody>
          </table>
          <h5>Cantidad</h5>
          <table class="table table-striped table-bordered">
            <thead class="table-primary">
              <tr>
                <th>En Almacen</th>
                <th>En Entrega</th>
                <th>Reservado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{productoMostrar.p_cantidad_almacen}}</td>
                <td> {{productoMostrar.p_cantidad_entrega}}</td>
                <td> {{productoMostrar.p_cantidad_reservado}}</td>
              </tr>
            </tbody>
          </table>
          <h5>Demenciones</h5>
          <table class="table table-striped table-bordered">
            <thead class="table-primary">
              <tr>
                <th>Altura, mm</th>
                <th>Anchura, mm</th>
                <th>Longitud, mm</th>
                <th>Peso, gr</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{productoMostrar.p_altura}}</td>
                <td> {{productoMostrar.p_ancho}}</td>
                <td> {{productoMostrar.p_longitud}}</td>
                <td> {{productoMostrar.p_peso}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-4">
          <img *ngIf="productoMostrar.imagenUrl" [src]="productoMostrar.imagenUrl">
      </div>
    </div>
</div>

      <!--Comienzo regimen Mostrar de producto-->

      <!--<div *ngIf="regimenUpdate && productoParaEditar">
        <app-update-product [productoParaEditar]="productoParaEditar">
                          (volverMostrar) = "volverMostrarProducto (true)">
        </app-update-product>
        <button class="btn btn-info" (click)="volverMostrarProducto(false)">Volver</button>
      </div>-->

      <!--Fin regimen Mostrar de producto -->
