<div class="wrapper">

    <div class="d-flex mt-3">
      <h1 *ngIf = "!regimenUpdate">Crear nueva Factura</h1>
      <h1 *ngIf = "regimenUpdate">Editar factura #{{ mercancias[0].m_id_facturas}}</h1>
      <div  class="ms-5 mt-2" >
        <button (click) = "volverMostrarFacturas (false)" class="btn btn-info btn-AW">Volver</button>
      </div>
    </div>



    <!-- filter -->
    <form class="form mt-3 mb-3">
      <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">
          Filtro
        </label>
        <div class="col-sm-3">
          <input type="text" [(ngModel)]="filterSearch" (input)="applyFilter()" class="form-control"
            name="filterDesc" id="filterDesc" placeholder="filtramos por...">
        </div>
        <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">
          Categoria
        </label>
        <div class="col-sm-3 mt-2">
          <select name="categoriaSearch" id="categoriaSearch" [(ngModel)]="categoriaSearch" (ngModelChange)="applyFilter()">
              <option value="0">Seleccione una categoria</option>
              <option *ngFor = "let categoria of categorias" [value]="categoria.id_categoria">{{categoria.c_nombre}}</option>
          </select>
        </div>
      </div>
    </form>
    <!-- Fin de filter -->


    <!--La tabla de produtos-->
    <div class="table-responsive" *ngIf ="productos && productos.length">
      <table class="table table-striped table-primary table-bordered">
        <thead>
          <tr>
            <th>{{headers.nombre}}</th>
            <th>{{headers.categoria}}</th>
            <th>{{headers.cantidad}}</th>
            <th>{{headers.precio}}</th>
            <th>Añadir</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor = "let producto of productosPaginated">
            <td>{{producto.p_nombre}}</td>
            <td>{{producto.p_nombre_categoria}}</td>
            <td>{{producto.p_cantidad_almacen}}</td>
            <td>{{producto.p_precio_venta}}</td>
            <td id="AW-td">
              <button id="{{producto.product_id}}" class="btn btn-primary btn-AW anadir">+</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

                <!-- pagination -->
                <div class="pagination-controls mb-2">
                  <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
                  <span class="ms-3 me-3">Pagina {{ currentPage }} de {{ totalPages }}</span>
                  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
                </div>


  <!--   Forma nueva factura -->
    <div *ngIf ="mercancias.length">
        <app-crear-factura-new
            [mercancias]="mercancias"
            [regimenUpdate]="regimenUpdate"
            [updateFacturaId]="updateFacturaId"
            (mercanciasRenovar)="actualizarMercancias($event)"
            (volverMostrar) = "volverMostrarFacturas ($event)">
        </app-crear-factura-new>
    </div>

