
<div class="body-AW">
	<div class="main">
			<div class="signup">
				<form [formGroup] = "formLogin" (ngSubmit)="login()">
          <div class="d-flex">
            <img class="AW-logo mt-5 m-auto" src="image/1a_logotype.png">
					</div>
          <label for="chk">Log In</label>
					<input type="text" formControlName="u_login" placeholder="Login" required="">
					<input type="password" formControlName="u_password" placeholder="Password" required="">
					<div *ngIf="error" class="AW-error">Contraseña o login son incorrectos</div>
          <button>Login</button>
				</form>
			</div>
	</div>
</div>

