<ng-container>
  <app-menu-mobile class="mobile-menu"></app-menu-mobile>
</ng-container>
<div class="d-flex">
  <div class="sidebar">
    <app-menu></app-menu>
  </div>
  <div class="info-container">

    <!-- filter -->
    <div class="mt-3 padding-mobile row find-container pt-1 mb-2">
      <form class="form col-12 col-md-7 mb-1">
        <div class="form-group d-flex">
          <label class="col-form-label col-3 text-sm-right" for="filterDesc">
            Buscar
          </label>
          <div class="col-9">
            <input type="text" [(ngModel)]="productoSearch" (input)="applyFilter()" class="form-control"
              name="filterDesc" id="filterDesc" placeholder="buscamos...">
          </div>
        </div>
      </form>
      <div class="col-12 col-md-3 mb-2 pt-1 d-flex justify-content-around">
        <button *ngIf = "!regimenTrasladar" class="btn btn-primary btn-AW col-6 col-md-12 m-auto" (click) = "regimenTrasladarInterruptor()"> Trasladar</button>
        <button *ngIf = "regimenTrasladar" class="btn btn-danger btn-AW col-6 col-md-12 m-auto" (click) = "regimenTrasladarInterruptor()"> Terminar trasladar</button>
      </div>
    </div>



    <app-almacen-show
                      [lugares] = "lugaresFiltrado"
                      [productoSearch] = "productoSearch"
                      [regimenTrasladar] = "regimenTrasladar"
                      (obtenerLugaresAlmacen) = "obtenerLugaresAlmacen()">
    </app-almacen-show>
  </div>
</div>
