<div class="d-flex mt-2 mb-2">
  <h1> Factura #{{controlarFacturaId}}</h1>

  <div  class="ms-5 mt-2" >
    <button (click) = "volverMostrarFactura(false)" class="btn btn-info btn-AW">Volver</button>
  </div>
  <div *ngIf ="regimenAlmacen" class="ms-5 mt-2" >
    <button (click) = "cambiarRegimenRedactar ()" class="btn btn-primary btn-AW">Factura</button>
  </div>
  <div *ngIf ="!regimenAlmacen" class="ms-5 mt-2" >
    <button (click) = "cambiarRegimenRedactar ()" class="btn btn-primary btn-AW">Almacen</button>
  </div>
  <div class="ms-5 mt-2" >
    <button (click) = "guardarDatos(false)" class="btn btn-warning btn-AW">Guardar</button>
  </div>
  <div class="ms-2 mt-2" >
    <button (click) = "guardarDatos(true)" [disabled] = "isDisabled" [hidden] = "isHidden" class="btn btn-success btn-AW">Aceptar</button>
  </div>
  <div class="ms-2 mt-2" >
    <button (click) = "volverMostrarFactura(true)" [disabled] = "isDisabled" [hidden] = "!isHidden" class="btn btn-dark btn-AW">Salir</button>
  </div>
</div>


  <table *ngIf="!regimenAlmacen" class="table table-striped table-primary table-bordered">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Cantidad nuevo</th>
        <th>Celda</th>
        <th>Aceptado</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor = "let mercancia of mercancias">
        <td> {{mercancia.m_nombre_producto}} </td>
        <td> {{mercancia.m_cantidad_pedida}}</td>
        <td>
          <div class="d-flex">
            <input #inputRef style="width:70px;" type="number" [(ngModel)]="mercancia.m_cantidad_recogida">
          </div>
        </td>
        <td *ngIf = "role == 'receptor'">
          <ng-container *ngIf = "mercancia.m_lugar && !mercancia.m_lugares">
            {{mercancia.m_lugar}}
          </ng-container>
          <ng-container *ngIf = "mercancia.m_lugares">
            <ng-container *ngFor ="let lugar of mercancia.m_lugares">
              {{lugar.lugar_estanteria}}-{{lugar.lugar_planta}}-{{lugar.lugar_column}}
            </ng-container>
          </ng-container>
        </td>
        <td *ngIf = "role == 'recogedor'">{{mercancia.m_lugar}}</td>
        <td>
          <button *ngIf = "!mercancia.m_aceptado"  (click) = "aceptarMercancia( mercancia.id ?  mercancia.id : 0, inputRef.value)" class="btn btn-AW btn-warning">Aceptar </button>
          <button *ngIf = "mercancia.m_aceptado"  (click) = "cancelarAceptadoMercancia (mercancia.id ?  mercancia.id : 0, inputRef.value)" class="btn btn-AW btn-success">Cancelar </button>
        </td>
      </tr>

    </tbody>
  </table>

  <div *ngIf="regimenAlmacen" class="info-container">

      <app-almacen-show [mercancias] = "mercancias"
                        [regimenAlmacen] = "regimenAlmacen"
                        (disabled) = "disabled()"
                        [isHidden] = "isHidden">
      </app-almacen-show>

  </div>
