table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;

}

td {
  border: 1px solid black;
}


.celda {
  height: 30px;
  background-color: lightblue;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}

.line {
  background-color:black;
  height: 2px;
  width: 80%;
  margin: auto;
}

.zona {
  margin-top: 4%;
  font-size: 30px;
  font-weight: 600;
}

.buttons {
  position: absolute;
  bottom: 5px;
  width: 93%;
}

.header {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.img-AW {
  width: 90%;
  max-width: 150px;
}

.disponible {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 20%;
}



.shelving {
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shelving .cell {
  border: 2px solid #ccc; /* Рамка ячейки */
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #333;
  position: relative;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Тень для объема */
}

/* Визуализация вертикальных и горизонтальных балок стеллажа */
.shelving tr {
  border-bottom: 3px solid #8b4513; /* Горизонтальные балки стеллажа */
}

.shelving .cell:first-child {
  border-left: 3px solid #8b4513; /* Левая вертикальная балка */
}

.shelving tr:last-child .cell {
  border-bottom: 3px solid #8b4513; /* Нижняя балка */
}

@media screen and (max-width:767px) {
  table, table button {
    font-size: 3vw;
  }

}


