#form-control-AW {
  width: 50%;
}

.invalid-feedback-AW {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}

.form-label-AW {
  font-weight: 700;
}
