<h1>Crear nuevo Producto</h1>
<div class="wrapper">
  <form [formGroup] = "formCreateProducto" (ngSubmit)="sendDatos()">
    <div class="d-flex">
      <div class="mb-3 col-6">
        <label for="nombre" class="form-label-AW">Nombre producto</label>
        <div class="d-flex col-md-6">
          <input type="text" formControlName="p_nombre" placeholder="Nombre..." class="form-control col-md-6"
              [ngClass]="{ 'is-valid': formCreateProducto.get('p_nombre')?.valid && formCreateProducto.get('p_nombre')?.touched,
                          'is-invalid': formCreateProducto.get('p_nombre')?.invalid && formCreateProducto.get('p_nombre')?.touched }">
            <div *ngIf="formCreateProducto.get('p_nombre')?.invalid && formCreateProducto.get('p_nombre')?.touched" class="invalid-feedback col-md-4 ps-3">
              * Este campo es obligatorio!
            </div>
        </div>
      </div>


      <!-- Categoria select -->
      <div class="mb-3 col-6">
        <label for="p_categoria" class="form-label-AW">Categoria</label>
        <div class="d-flex col-md-6">
          <input type="text" formControlName="p_categoria" placeholder="Categoria..." class="form-control col-md-6"
            [ngClass]="{ 'is-valid': formCreateProducto.get('p_categoria')?.valid && formCreateProducto.get('p_categoria')?.touched,
            'is-invalid': formCreateProducto.get('p_categoria')?.invalid && formCreateProducto.get('p_categoria')?.touched }">
            <div *ngIf="formCreateProducto.get('p_categoria')?.invalid && formCreateProducto.get('p_categoria')?.touched" class="invalid-feedback col-md-4 ps-3">
            * Este campo es obligatorio!
            </div>
        </div>
      </div>
    </div>

    <!-- Description  -->
    <div class="mb-3">
      <label for="description" class="form-label-AW">Description</label>
      <div class="d-flex col-md-6">
        <input type="text" formControlName="p_description" placeholder="Login..." class="form-control col-md-6">
      </div>
    </div>


    <!-- Group para demensiones -->
    <div class="d-flex">

      <div class="col-md-3">
        <label for="p_longitud" class="form-label">Longitud, mm</label>
        <input type="text" formControlName="p_longitud" placeholder="Longitud..." class="form-control col-md-6">
        <div class="valid-feedback">
          Все хорошо!
        </div>
      </div>

      <div class="col-md-3">
        <label for="p_altura" class="form-label">Altura, mm</label>
        <input type="text" formControlName="p_altura" placeholder="Altura..." class="form-control col-md-6">
        <div class="valid-feedback">
          Все хорошо!
        </div>
      </div>

      <div class="col-md-3">
        <label for="p_anchura" class="form-label">Anchura, mm</label>
        <input type="text" formControlName="p_anchura" placeholder="Anchura..." class="form-control col-md-6">
        <div class="valid-feedback">
          Все хорошо!
        </div>
      </div>

      <div class="col-md-3">
        <label for="p_peso" class="form-label">Peso, kg</label>
        <input type="text" formControlName="p_peso" placeholder="Peso..." class="form-control col-md-6">
        <div class="valid-feedback">
          Все хорошо!
        </div>
      </div>


    </div>


<!--
    <div class="mb-3">
      <label for="role" class="form-label-AW">Role</label>
      <div class="d-flex col-md-6">
        <select formControlName="u_role" class="form-control col-md-6"
            [ngClass]="{ 'is-valid': formCreateUser.get('u_role')?.valid && formCreateUser.get('u_role')?.touched,
            'is-invalid': formCreateUser.get('u_role')?.invalid && formCreateUser.get('u_role')?.touched }">
          <option value="">-- Elije un role --</option>
          <option value="admin">Admin</option>
          <option value="vendedor">Vendedor</option>
          <option value="cliente">Cliente</option>
          <option value="receptor">Receptor</option>
          <option value="recogedor">Recojedor</option>
          <option value="manager">Manager</option>
        </select>
          <div *ngIf="formCreateUser.get('u_role')?.invalid && formCreateUser.get('u_role')?.touched" class="invalid-feedback col-md-4 ps-3">
            * Este campo es obligatorio!
          </div>      </div>
    </div>
   -->

    <div class="m-3">
      <button type="submit" class="btn btn-primary">Crear usuario</button>
    </div>
  </form>
</div>


