
<div class="wrapper">
  <form [formGroup] = "formCreateProducto" (ngSubmit)="sendDatos()">
    <div class="d-flex mt-3 mb-5">
      <h1 *ngIf = "!regimenUpdate">Crear nuevo Producto</h1>
      <h1 *ngIf = "regimenUpdate">Editar producto</h1>
      <div *ngIf = "!regimenUpdate" class="ms-5 mt-2" >
        <button type="submit" class="btn btn-primary btn-AW">Crear producto</button>
      </div>
      <div *ngIf = "regimenUpdate" class="ms-5 mt-2" >
        <button type="submit" class="btn btn-primary btn-AW">Editar datos</button>
      </div>
      <div  class="ms-5 mt-2" >
        <button (click) = "volverMostrarProductos ()" class="btn btn-info btn-AW">Volver</button>
      </div>
    </div>
    <div class="d-flex mb-2">
      <div class="m-1 col-6 ">
        <label for="nombre" class="form-label-AW">Nombre producto</label>
        <div>
          <input type="text" formControlName="p_nombre" placeholder="Nombre..." class="form-control col-md-6"
              [ngClass]="{ 'is-valid': formCreateProducto.get('p_nombre')?.valid && formCreateProducto.get('p_nombre')?.touched,
                          'is-invalid': formCreateProducto.get('p_nombre')?.invalid && formCreateProducto.get('p_nombre')?.touched }">
            <div *ngIf="formCreateProducto.get('p_nombre')?.invalid && formCreateProducto.get('p_nombre')?.touched" class="invalid-feedback col-md-4 ps-3">
              * Este campo es obligatorio!
            </div>
        </div>
      </div>


      <!-- Categoria select -->
      <div class="m-1 col-3">
        <label for="p_categoria" class="form-label-AW">Categoria</label>
        <div>
          <select formControlName="p_categoria" class="form-control col-md-6"
          [ngClass]="{ 'is-valid': formCreateProducto.get('p_categoria')?.valid && formCreateProducto.get('p_categoria')?.touched,
          'is-invalid': formCreateProducto.get('p_categoria')?.invalid && formCreateProducto.get('p_categoria')?.touched }">
            <option value="">-- Elije una categoria --</option>
            <option *ngFor="let categoria of categorias; let i = index" [value]="i"> {{ categoria.c_nombre }} </option>
          </select>
            <div *ngIf="formCreateProducto.get('p_categoria')?.invalid && formCreateProducto.get('p_categoria')?.touched" class="invalid-feedback col-md-4 ps-3">
            * Este campo es obligatorio!
            </div>
        </div>
      </div>

      <!--  Activar/desactivar producto -->
      <div class="m-2 col-3 pt-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" formControlName="p_activo" [value]="true" id="activeTrue">
          <label class="form-check-label form-label-AW" for="activeTrue">
            Producto activo
          </label>
        </div>
      </div>


    </div>

    <!-- Description  -->
    <div class="mb-3">
      <label for="description" class="form-label-AW">Descripcion</label>
      <div class="d-flex col-md-12">
        <input type="text-area" formControlName="p_descripcion" placeholder="Descripcion..." class="form-control col-md-6">
      </div>
    </div>


    <!-- Group para demensiones -->
    <div class="d-flex">

      <div class="col-md-3 me-1">
        <label for="p_longitud" class="form-label">Longitud, mm</label>
        <input type="text" formControlName="p_longitud" placeholder="Longitud..." class="form-control col-md-6"
            [ngClass]="{ 'is-valid': formCreateProducto.get('p_longitud')?.valid && formCreateProducto.get('p_longitud')?.touched,
            'is-invalid': formCreateProducto.get('p_longitud')?.invalid && formCreateProducto.get('p_longitud')?.touched }">
            <div *ngIf="formCreateProducto.get('p_longitud')?.invalid && formCreateProducto.get('p_longitud')?.touched" class="invalid-feedback col-md-4">
              * Este campo es obligatorio!
            </div>
            <div *ngIf="formCreateProducto.get('p_longitud')?.errors?.['pattern'] && formCreateProducto.get('p_longitud')?.touched" class="invalid-feedback">
              * En este campo solo cifras!
            </div>
      </div>

      <div class="col-md-3 me-1">
        <label for="p_altura" class="form-label">Altura, mm</label>
        <input type="text" formControlName="p_altura" placeholder="Altura..." class="form-control col-md-6"
        [ngClass]="{ 'is-valid': formCreateProducto.get('p_longitud')?.valid && formCreateProducto.get('p_longitud')?.touched,
        'is-invalid': formCreateProducto.get('p_altura')?.invalid && formCreateProducto.get('p_altura')?.touched }">
        <div *ngIf="formCreateProducto.get('p_altura')?.invalid && formCreateProducto.get('p_altura')?.touched" class="invalid-feedback col-md-4">
          * Este campo es obligatorio!
        </div>
        <div *ngIf="formCreateProducto.get('p_altura')?.errors?.['pattern'] && formCreateProducto.get('p_altura')?.touched" class="invalid-feedback">
          * En este campo solo cifras!
        </div>
      </div>

      <div class="col-md-3 me-1">
        <label for="p_ancho" class="form-label">Anchura, mm</label>
        <input type="text" formControlName="p_ancho" placeholder="Anchura..." class="form-control col-md-6"
        [ngClass]="{ 'is-valid': formCreateProducto.get('p_ancho')?.valid && formCreateProducto.get('p_longitud')?.touched,
        'is-invalid': formCreateProducto.get('p_ancho')?.invalid && formCreateProducto.get('p_ancho')?.touched }">
        <div *ngIf="formCreateProducto.get('p_ancho')?.invalid && formCreateProducto.get('p_ancho')?.touched" class="invalid-feedback col-md-4">
          * Este campo es obligatorio!
        </div>
        <div *ngIf="formCreateProducto.get('p_ancho')?.errors?.['pattern'] && formCreateProducto.get('p_ancho')?.touched" class="invalid-feedback">
          * En este campo solo cifras!
        </div>
      </div>

      <div class="col-md-3">
        <label for="p_peso" class="form-label">Peso, gr</label>
        <input type="text" formControlName="p_peso" placeholder="Peso..." class="form-control col-md-6"
        [ngClass]="{ 'is-valid': formCreateProducto.get('p_ancho')?.valid && formCreateProducto.get('p_peso')?.touched,
        'is-invalid': formCreateProducto.get('p_peso')?.invalid && formCreateProducto.get('p_peso')?.touched }">
        <div *ngIf="formCreateProducto.get('p_peso')?.invalid && formCreateProducto.get('p_peso')?.touched" class="invalid-feedback col-md-4">
          * Este campo es obligatorio!
        </div>
        <div *ngIf="formCreateProducto.get('p_peso')?.errors?.['pattern'] && formCreateProducto.get('p_peso')?.touched" class="invalid-feedback">
          * En este campo solo cifras!
        </div>
      </div>


    </div>

    <!-- Bloque de precio -->

    <div class="d-flex mt-3">
      <div class="col-3 me-1">
        <label for="p_precio_compra" class="form-label">Precio de Compra, euro</label>
        <input type="text" formControlName="p_precio_compra" placeholder="Precio de Compra..." class="form-control col-md-6"
        [ngClass]="{ 'is-valid': formCreateProducto.get('p_precio_compra')?.valid && formCreateProducto.get('p_precio_compra')?.touched,
        'is-invalid': formCreateProducto.get('p_precio_compra')?.invalid && formCreateProducto.get('p_precio_compra')?.touched }">
        <div *ngIf="formCreateProducto.get('p_precio_compra')?.invalid && formCreateProducto.get('p_precio_compra')?.touched" class="invalid-feedback col-md-4">
          * Este campo es obligatorio!
        </div>
        <div *ngIf="formCreateProducto.get('p_precio_compra')?.errors?.['pattern'] && formCreateProducto.get('p_precio_compra')?.touched" class="invalid-feedback">
          * En este campo solo cifras!
        </div>
      </div>



      <div class="col-3 me-1">
        <label for="p_peso" class="form-label">Precio de Venta, euro</label>
        <input type="text" formControlName="p_precio_venta" placeholder="Precio de Venta..." class="form-control col-md-6"
        [ngClass]="{ 'is-valid': formCreateProducto.get('p_precio_venta')?.valid && formCreateProducto.get('p_precio_venta')?.touched,
        'is-invalid': formCreateProducto.get('p_precio_venta')?.invalid && formCreateProducto.get('p_precio_venta')?.touched }">
        <div *ngIf="formCreateProducto.get('p_precio_venta')?.invalid && formCreateProducto.get('p_precio_venta')?.touched" class="invalid-feedback col-md-4">
          * Este campo es obligatorio!
        </div>
        <div *ngIf="formCreateProducto.get('p_precio_venta')?.errors?.['pattern'] && formCreateProducto.get('p_precio_venta')?.touched" class="invalid-feedback">
          * En este campo solo cifras!
        </div>
      </div>


      <div class="col-3 me-1">
        <label for="p_peso" class="form-label">Código de barras</label>
        <input type="text" formControlName="p_codigo" placeholder="Codigo..." class="form-control col-md-6"
        [ngClass]="{ 'is-valid': formCreateProducto.get('p_codigo')?.valid && formCreateProducto.get('p_codigo')?.touched,
        'is-invalid': formCreateProducto.get('p_codigo')?.invalid && formCreateProducto.get('p_codigo')?.touched }">
        <div *ngIf="formCreateProducto.get('p_codigo')?.invalid && formCreateProducto.get('p_codigo')?.touched" class="invalid-feedback col-md-4">
          * Este campo es obligatorio!
        </div>
        <div *ngIf="formCreateProducto.get('p_codigo')?.errors?.['pattern'] && formCreateProducto.get('p_codigo')?.touched" class="invalid-feedback">
          * En este campo solo cifras!
        </div>
        <div *ngIf="formCreateProducto.get('p_codigo')?.errors?.['maxlength'] && formCreateProducto.get('p_codigo')?.touched" class="invalid-feedback">
          * Tiene que haber 13 dígitos.
        </div>
        <div *ngIf="formCreateProducto.get('p_codigo')?.errors?.['minlength'] && formCreateProducto.get('p_codigo')?.touched" class="invalid-feedback">
          * Tiene que haber 13 dígitos.
        </div>
      </div>
    </div>

    <!-- Bloque de image -->

    <div class="form-group">
      <div class="d-flex">
        <div>
          <label for="name">Image</label>
          <input type="file" class="form-control" name="image" (change)="onFileSelected($event)">
        </div>
        <img *ngIf="p_foto" [src]="p_foto" alt="Preview" class="img-thumbnail mt-2">
      </div>
    </div>



  </form>
</div>


