<ng-container>
  <app-menu-mobile class="mobile-menu"></app-menu-mobile>
</ng-container>

<div class="d-flex">
  <div class="sidebar">
    <app-menu></app-menu>
  </div>

  <!-- Inicio Info-conteiner -->
  <div class="info-container">

      <div class="card-block">

        <div *ngIf="!regimenMostrar && !regimenCrear && !regimenUpdate && !regimenControlar">
          <!-- filter -->
          <form class="form mt-2 mb-2 find-container pt-1 pb-1">
            <div class="form-group row">
              <label class="col-form-label col-3 col-md-2 col-lg-1 text-sm-right" for="filterDesc">
                Cliente
              </label>
              <div class="col-9 col-md-9 col-lg-3">
                <input type="text" [(ngModel)]="clientSearch" (input)="applyFilter()" class="form-control"
                  name="filterDesc" id="filterDesc" placeholder="buscar ...">
              </div>
              <div class="row col-12 col-lg-8">
                <label class="col-3 col-sm-2 text-sm-right pt-2 pe-0" for="direccionSearch">
                  Acción
               </label>
                <div class="col-9 col-sm-4 mt-2">
                  <select name="direccionSearch" id="direccionSearch" [(ngModel)]="direccionSearch" (ngModelChange)="applyFilter()" class="w-100">
                      <option [value]="-1">Seleccione acción</option>
                      <option [value]="0">Compra</option>
                      <option [value]="1">Venta</option>
                   </select>
                </div>
                <label class="col-3 col-sm-2 text-sm-right pt-2 pe-0" for="statusSearch">
                  Status
                </label>
                <div class="col-9 col-sm-4 mt-2">
                  <select name="statusSearch" id="statusSearch" [(ngModel)]="statusSearch" (ngModelChange)="applyFilter()" class="w-100">
                      <option [value]=-1>Seleccione Status</option>
                      <option [value]=0>En processo</option>
                      <option [value]=1>Terminado</option>
                 </select>
                </div>
              </div>
            </div>
          </form>

          <!--La tabla de facturas-->
          <div class="table-responsive" *ngIf ="facturas && facturas.length">
            <table class="table table-striped table-primary table-bordered">
              <thead>
                <tr>
                  <th>{{headers.numero}}</th>
                  <th >{{headers.nombre}}</th>
                  <th>{{headers.suma}}</th>
                  <th *ngIf = "(role !=='receptor' && role !== 'recogedor')">{{headers.direccion}}</th>
                  <th>{{headers.estado}}</th>
                  <th>{{headers.created}}</th>
                  <th *ngIf = "(role =='receptor' || role == 'recogedor')">{{headers.accion}}</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor = "let factura of facturasPaginated">
                  <td (click) ="mostrarFactura(factura.factura_id)">{{factura.factura_id}}</td>
                  <td (click) ="mostrarFactura(factura.factura_id)">{{factura.usuario_cliente.u_nombre}}</td>
                  <td (click) ="mostrarFactura(factura.factura_id)">{{factura.f_suma}}</td>
                  <td *ngIf="!factura.f_tipo && (role !=='receptor' && role !== 'recogedor')">Compra</td>
                  <td *ngIf="factura.f_tipo && (role !=='receptor' && role !== 'recogedor')">Venta</td>
                  <td *ngIf="!factura.f_tipo && !factura.f_aceptado" style="color:rgb(110, 1, 1)">No aceptado</td>
                  <td *ngIf="!factura.f_tipo && factura.f_aceptado" style="color:green">Aceptado</td>
                  <td *ngIf="factura.f_tipo && !factura.f_aceptado" style="color:rgb(110, 1, 1)">No preparado</td>
                  <td *ngIf="factura.f_tipo && factura.f_aceptado" style="color:green">Preparado</td>
                  <td>{{factura.created_at | date : "mediumDate"}}</td>

                  <!-- bloque para receptor y recogedor-->
                  <td *ngIf = "role == 'receptor'">
                    <button *ngIf = "!factura.f_aceptado" (click) ="controlarFactura(factura.factura_id)" class="btn btn-AW btn-warning">Comprobar</button>
                    <button *ngIf = "factura.f_aceptado" class="btn btn-AW btn-success">Aceptado</button>
                  </td>
                  <td *ngIf = "role == 'recogedor'">
                    <button *ngIf = "!factura.f_aceptado" (click) ="controlarFactura(factura.factura_id)" class="btn btn-AW btn-warning">Recoger</button>
                    <button *ngIf = "factura.f_aceptado" class="btn btn-AW btn-success">Completado</button>
                  </td>

                </tr>

              </tbody>
            </table>

               <!-- pagination -->
                  <div class="pagination-controls mb-2">
                    <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
                    <span class="ms-3 me-3">Página {{ currentPage }} de {{ totalPages }}</span>
                    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
                  </div>

          </div>
          <div *ngIf="role === 'admin' || role === 'manager'
                   || role === 'vendedor' || role === 'cliente'">
            <button class="btn btn-success btn-AW" (click)="crearNuevaFactura()">Crear nuevo Pedido</button>
          </div>
        </div>
        <!--Fin la tabla de facturas-->

       <!--Comienzo regimen mostrar de factura-->
      <div *ngIf="regimenMostrar">
        <app-show-factura [mostrarFacturaId]="mostrarFacturaId"
                          (volverMostrar) = "volverListaFacturas ($event)"
                          (encenderRegimenEditar) = "encenderRegimenEditar ($event)"
                          [facturaMostrar] = "facturaMostrar">
        </app-show-factura>
      </div>
      <!--Fin regimen mostrar de facturas-->


      <!--Comienzo regimen Crear de factura-->

      <div *ngIf="regimenCrear || regimenUpdate">
        <app-crear-factura (volverMostrar) = "volverListaFacturas ($event)"
                          [regimenUpdate]="regimenUpdate"
                          [updateFacturaId] = "mostrarFacturaId">

        </app-crear-factura>
      </div>

      <!--Fin regimen Crear de factura-->


      <!--Comienzo regimen Crear de factura-->

      <div *ngIf="regimenControlar">
        <app-crear-factura-control (volverMostrar) = "volverListaFacturas ($event)"
          [controlarFacturaId] = "mostrarFacturaId"
          [facturaMostrar] = "facturaMostrar">

        </app-crear-factura-control>
      </div>

      <!--Fin regimen Crear de factura-->

      </div>

    </div>
    <!-- Fin info-container -->
</div>
