<div class="d-flex">
  <div class="sidebar">
    <app-menu></app-menu>
  </div>

  <!-- Inicio Info-conteiner -->
  <div class="info-container">

      <div class="card-block">

        <div *ngIf="!regimenMostrar && !regimenCrear">
          <!-- filter -->
          <form class="form mt-3 mb-3">
            <div class="form-group row">
              <label class="col-form-label col-sm-1 text-sm-right" for="filterDesc">
                Client
              </label>
              <div class="col-sm-2">
                <input type="text" [(ngModel)]="clientSearch" class="form-control"
                  name="filterDesc" id="filterDesc" placeholder="buscamos ...">
              </div>
              <label class="col-form-label col-sm-2 text-sm-right" for="direccionSearch">
                Direccion
              </label>
              <div class="col-sm-3 mt-2">
                <select name="direccionSearch" id="direccionSearch" [(ngModel)]="direccionSearch">
                    <option [value]=-1>Seleccione direccion</option>
                    <option [value]=0>Entante</option>
                    <option [value]=1>Saliente</option>
                </select>
              </div>
              <label class="col-form-label col-sm-1 text-sm-right" for="statusSearch">
                Status
              </label>
              <div class="col-sm-3 mt-2">
                <select name="statusSearch" id="statusSearch" [(ngModel)]="statusSearch">
                    <option [value]=-1>Seleccione Status</option>
                    <option [value]=0>En processo</option>
                    <option [value]=1>Terminado</option>
                </select>
              </div>
            </div>
          </form>

          <!--La tabla de facturas-->
          <div class="table-responsive" *ngIf ="facturas && facturas.length">
            <table class="table table-striped table-primary table-bordered">
              <thead>
                <tr>
                  <th>{{headers.numero}}</th>
                  <th >{{headers.nombre}}</th>
                  <th>{{headers.suma}}</th>
                  <th>{{headers.direccion}}</th>
                  <th>{{headers.estado}}</th>
                  <th>{{headers.created}}</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor = "let factura of facturas | facturasFilter:clientSearch:direccionSearch:statusSearch">
                  <td (click) ="mostrarFactura(factura.factura_id)">{{factura.factura_id}}</td>
                  <td>{{factura.f_id_cliente}}</td>
                  <td>{{factura.f_suma}}</td>
                  <td *ngIf="!factura.f_tipo">Entrada</td>
                  <td *ngIf="factura.f_tipo">Salida</td>
                  <td *ngIf="!factura.f_tipo && !factura.f_aceptado">No aceptado</td>
                  <td *ngIf="!factura.f_tipo && factura.f_aceptado" style="color:green">Aceptado</td>
                  <td *ngIf="factura.f_tipo && !factura.f_aceptado">No preparado</td>
                  <td *ngIf="factura.f_tipo && factura.f_aceptado">Preparado</td>
                  <td>{{factura.created_at | date : "mediumDate"}}</td>
                </tr>

              </tbody>
            </table>
          </div>
          <div>
            <button class="btn btn-info" (click)="crearNuevaFactura()">Crear nuevo Pedido</button>
          </div>
        </div>
        <!--Fin la tabla de facturas-->

       <!--Comienzo regimen mostrar de factura-->
      <div *ngIf="regimenMostrar">
        <app-show-factura [mostrarFacturaId]="mostrarFacturaId"
                          (volverMostrar) = "volverListaFacturas ($event)">
        </app-show-factura>
      </div>
      <!--Fin regimen mostrar de facturas-->


      <!--Comienzo regimen Crear de usuarios-->

      <div *ngIf="regimenCrear">
        <app-crear-factura (volverMostrar) = "volverListaFacturas (true)"></app-crear-factura>
        <button class="btn btn-info" (click)="volverListaFacturas(false)">Volver</button>
      </div>

      <!--Fin regimen Crear de usuarios-->

      </div>

    </div>
    <!-- Fin info-container -->
</div>
