
<div class="d-flex mt-2 mb-2 justify-content-between">
  <h1> Detalles de Factura #{{mostrarFacturaId}}</h1>
  <div *ngIf="role === 'admin' || role === 'manager'
            || role === 'vendedor' || role === 'cliente'" class="mt-2 ms-5" >
    <button (click)="editarFactura()" class="btn btn-warning btn-AW">Editar</button>
  </div>
  <div  *ngIf="role === 'admin' || role === 'manager'
           || role === 'vendedor' || role === 'cliente'" class="ms-1 mt-2" >
    <button (click)="popupInterruptor()" class="btn btn-danger btn-AW">Borrar</button>
  </div>
  <div  class="ms-5 mt-2" >
    <button (click) = "volverMostrarFactura()" class="btn btn-info btn-AW">Volver</button>
  </div>
</div>


<!--La tabla de pedido-->
<div class="table-responsive" *ngIf ="mercancias && mercancias.length">
  <table class="table table-striped table-primary table-bordered">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad pedida</th>
        <th>Suma pedida</th>
        <th>Cantidad recogida</th>
        <th>Suma recogida</th>
        <th>Aceptado</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor = "let mercancia of mercancias">
        <td> {{mercancia.m_nombre_producto}}</td>
        <td>{{mercancia.m_cantidad_pedida}}</td>
        <td>{{mercancia.m_suma_pedida}}</td>
        <td>{{mercancia.m_cantidad_recogida}}</td>
        <td>{{mercancia.m_suma_recogida}}</td>
        <td *ngIf = "!mercancia.m_aceptado" style="color:red">No</td>
        <td *ngIf = "mercancia.m_aceptado" style="color:green">Si</td>
      </tr>
      <tr class="fw-bold">
        <td>TOTAL</td>
        <td></td>
        <td *ngIf = "facturaMostrar">{{facturaMostrar.f_suma}}</td>
        <td></td>
        <td *ngIf = "facturaMostrar">{{facturaMostrar.f_suma_tramitacion}}</td>
        <td *ngIf = "facturaMostrar && (facturaMostrar.f_aceptado==true)" style="color:green" > Si</td>
        <td *ngIf = "facturaMostrar && (facturaMostrar.f_aceptado==false)" style="color:red" > No</td>
      </tr>

    </tbody>
  </table>


</div>

<!--Fin la tabla de facturas-->

<!--Popup ventana-->
<div *ngIf = "isPopupAcceptVisible" class="popup2">
  <p *ngIf = "facturaMostrar && !facturaMostrar.f_aceptado">Desea eliminar la factura #{{mostrarFacturaId}}?</p>
  <p *ngIf = "facturaMostrar && facturaMostrar.f_aceptado">Factura ya esta acceptada,</p>
  <p *ngIf = "facturaMostrar && facturaMostrar.f_aceptado">no se puede eliminar</p>
  <div class="d-flex buttons justify-content-around">
    <button *ngIf = "facturaMostrar && !facturaMostrar.f_aceptado" (click)="(mostrarFacturaId) ? borrarFactura(mostrarFacturaId) : null" class="btn btn-AW btn-danger m-auto">Borrar</button>
    <button  (click) = "popupInterruptor()" class="btn btn-AW btn-dark m-auto">Cerrar </button>
  </div>
</div>

